/* _____1st Step______ */
/* Medium Layout: 1200px */
@media only screen and (min-width: 992px) and (max-width:1200px){
	.bordered-img {height: 380px;width: 380px;}
	.bordered-img.left-side-bg {margin-left: -40px;}
}
/* Tablet Layout: 768px */
@media only screen and (min-width: 768px) and (max-width:991px){
	.bordered-img {width: 90%;margin-bottom: 50px;margin-top: 30px;}
	.bordered-img.left-side-bg {margin-left: 0px;}
}
/* Mobile Layout: 320px */
@media only screen and (max-width:767px){
	.bordered-img {width: 90%;margin-bottom: 50px;margin-top: 30px;}
	.bordered-img.left-side-bg {margin-left: 0px;}
}
/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px)and (max-width:767px){}



/* _____2nd Step_____ */
/* The given screen size or smaller */
/* Large device Devices (Desktop ) */
@media(max-width:1200px){}

/* Medium Devices (tablets Phone) */
@media(max-width:992px){}

/* Small Devices (Landscape Phone) */
@media(max-width:768px){}

/* Extra Small Devices (Portrait Phone) */
@media(max-width:576px){}



/* _____3rd Step______ */
/* Small Decives (Landscapr phone) */
@media(min-width:576px){}

/* Medium Decives (Tablet phone) */
@media(min-width:768px){}

/* Large Decives ( Desktops) */
@media(min-width:992px){}

/* Extra Large Decives (LArge Desktops)*/
@media(min-width:1200px){}